<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <h5>Change Your password</h3>
            <br>
            <br>

            <form action="/auth/change-password" method="POST">
        
                <input type="hidden" name="token" value="<%= token %>">
                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>

                
                <div class="form-group">
                    <button>Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>